<!doctype html>
<html lang="en-au">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="{{ page.title }} | Ben Cousins | Autistic Entrepreneur">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:description" content="{{ page.subtitle }} | Ben Cousins | Autistic Entrepreneur">
		<meta property="og:image" content="{{ page.hero-image }}">
		<meta property="og:url" content="{{ page.url }}">
		<meta name="twitter:card" content="summary_large_image">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bdcidau.css" media="screen">
        <link rel="stylesheet" href="https://use.typekit.net/yua8lnj.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/moment.min.js"></script>
        <script type="text/javascript" src="/static/js/livestamp.min.js"></script>
		<script type="text/javascript" src="/static/js/aspmd.js"></script>
		<script type="text/javascript" src="/static/js/aspiecode.js"></script>
		<script data-ad-client="ca-pub-7913210638729730" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155098520-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-155098520-1');
		</script>

		<link rel="icon" href="/favicon.ico">
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127035726-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-127035726-1');
		</script>
    </head>
    <body>
        <div id="header">
            <div id="bdc-logo">
				&nbsp;
			</div>
			<h1>
				Ben Cousins
			</h1>
			<h2>
				Autistic Entrepreneur
			</h2>
			<ul id="nav-actual">
				<li>
					<a href="/">home</a>
				</li>
				<li>
					<a href="/projects">projects</a>
				</li>
				<li>
					<a href="/blog">blog</a>
				</li>
			</ul>
		</div>
        <div id="navbar">
			&nbsp;
		</div>
		<!-- Top Navigation Menu -->
		<div class="mobinav">
			<a href="/" class="logo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ben Cousins</a>
			<div id="myLinks">
				<a href="/">home</a>
				<a href="/projects">projects</a>
				<a href="/blog">blog</a>
			</div>
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
				<span style="color:000;">
					☰
				</span>
			</a>
		</div>
        <div id="body">
			{{ content }}
		</div>
		<div id="footer">
			<div id="links">
				<dl>
					
				</dl>
				<dl>
					
				</dl>
				<dl>
					
				</dl>
			</div>
			<div id="copyright">
				<dl>
					<dt>the website of ben cousins</dt>
					<dd>ben is an entrepreneur with autism</dd>
					<dd>website developed by <a href="//bdc.id.au" target="_new">ben cousins</a>, from scratch</dd>
					<dd>hosted on <a href="">github pages</a></dd>
					<dd>obvious copyright, &copy; 2020. ben cousins.</dd>
					
					<dt class="top-padding">social media</dt>
					<dd>ben can be contacted on:</dd>
					<dd>
						<a href="//fb.me/s3gunzel" target="_new">facebook</a> |
						<a href="//twitter.com/s3_gunzel" target="_new">twitter</a> |
						<a href="//instagram.com/s3_gunzel" target="_new">instagram</a> |
						<a href="//linkedin.com/in/altbencousins" target="_new">linkedin</a>
					</dd>
					
					<dt class="top-padding">his other sites</dt>
					<dd>
						<a href="//asperger.media" target="_new">asperger.media</a> |
						<a href="//aspergers.network">aspergers.network</a> 
					</dd>
				</dl>
			</div>
			<script type="text/javascript">
				var navTop = $('#navbar').offset().top;
		
				$(window).scroll(function(){
					if ($(this).scrollTop() >= navTop) {
						$('#navbar').css('position', 'fixed');
						$('#navbar').css('top', '0');
					} else {
						$('#navbar').css('position', 'absolute');
						$('#navbar').css('top', '81px');
					}
				});
			</script>
			<script>
				function myFunction() {
					var x = document.getElementById("myLinks");
					if (x.style.display === "block") {
					x.style.display = "none";
					} else {
					x.style.display = "block";
					}
				}
			</script>
		</body>
		</html>